
<style>
  body {
    margin: 0;
  }

  h1, h2, span, p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
  }

  h1{
    font-size: 40pt;
    top: 100px;
  }

  .name {
    font-size: 20pt;
    top: 445px;
    font-family: verdana;
  }

  h2{
    font-size: 25pt;
    top: 250px;
  }

  p{
    font-size: 25pt;
    top: 550px;
    width: 50%
  }

  .well{
    margin: 20px;
    min-height:20px;
    padding:9px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 1024px;
  }
  .well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}
</style>

<center>
  <div class="well">
    <!-- <h1 class="header"> CERTIFICADO </h1> -->
    <!-- <h2> Certificamos que </h2> -->
    <span class="name" style="color: <%= @certified.name_color %>"><%= @name %></span>

    <%= image_tag @certified.background_url, :class => 'image', style: "height: 768px; width:1024px" %>

    <!-- <p> Participou do evento Front in BH, no Teatro Ney Soares, na cidade de Belo Horizonte / MG, no dia
    26 de julho de 2014, com duração de 10 horas. </p> -->

  </div>
<center>
