
  <style>
  span.result
{
   position:relative;
   display:block;
   font-size: 30px;
   margin-top: -445px;
}
  </style>

  <center>
    <%= image_tag @certified.background.url %>
    <span class="result"><%= @attendee .name %></span>
  
  </center>



