/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.template.thumb{
	border: 1px solid #e3e3e3;
}

.logo{
	position: relative;
	margin-top:-5px;
	
}

.container-fluid.welcome{
	margin-right: 200px;
	margin-left: 200px;
}

.btn.generate{
	float: right;
}

.form-actions{
	border: 1px solid #e5e5e5;
}

.nav .no-link{
	padding: 10px 15px 10px;
}