// Place all the styles related to the certifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clip_button {
	float: right;
	height: 60px;
	width: 7%
}

.clip{
	float:left;
	width: 87%;
}

.clear{
	clear: both;
}

.out {
	margin-left: 5px;
}